<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="cont-body">
        <div class="nav-bar"></div>
    <ul class="jackie">
        <a href="../index.html"><li>Home</li></a>
        <a href="services.html"><li>Services</li></a>
        <a href="contactus.html"><li>Contact Us</li></a>
    </ul>

    <h1 class="con">CONTACT US</h1>
    <P class="rea">Reach us through</P>
        <ul class="liiS">
            <li>Email address:jacklinembayaji33@gmail.com</li>
            <li>Tel.no : 0718823333</li>
            <li>Kisumu, Kenya</li>
        </ul>
        <p class="form">Fill the below form for concerns, questions or feedback</p>
        <form action="">
            <label for="First Name">First Name</label><br>
            <input type="First Name" name="" id=""><br>
            <label for="Last Name">Last Name</label><br>
            <input type="Last Name" name="" id=""><br>
            <label for="Email address">Email address</label><br>
            <input type="Email address" name="" id=""><br>
            <label for="Message">Message</label><br>
            <input type="Message" name="" id=""><br>

        </form>
    <button class="sub">Submit</button>
    </div>

</body>
</html>