 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
 </head>
 <body>
    <div class="serv-body">
    </ul><div class="nav-bar"></div>
    <ul class="jackie">
        <a href="../index.html"><li>Home</li></a>
        <a href="services.html"><li>Services</li></a>
        <a href="contactus.html"><li>Contact Us</li></a>
    </ul>

   <h1 class="the1">Type of Therapies</h1>
   <ul class="types">
    <li>Individual</li>
    <li>Couples</li>
    <li>Teen/child</li>
    </ul>
    <h2 class="the2">Individual Therapy</h2>
        <p class="par0">
In this session you will experience one-on-one mental health treatment that is personalized to suit an individual's unique needs. It involves setting therapeutic goals, processes one's past, and learning how to manage one's symptoms or triggers in order to live a healthier life.
It ensures confidentiality,provides a comfortable environment,confirms focused attention,allows flexibility,assures a comprehensive treatment,promotes a healthy relationship with the Counsellor,enables a better communication and reduces the possibility of personal conflicts.
        </p>
        <img src="../images/ment3.jpg" alt="">

    <h2 class="the3">Couples Therapy</h2>
            <p class="par1">This is usually short-term counseling designed to help couples understand and resolve problems, dissatisfaction, and conflict in their relationship/marriage.
                </p>
        <img src="../images/coup2.jpeg" alt="" class="cou">
    <h2 class="the4">Teen Therapy</h2>
    <p class="par2">We ensure to include talking, playing, or other activities to help the child express feelings and thoughts. Therapists may also observe parents and children together and then make suggestions for finding different ways to react.7 Aug 2024
 </p>
    <img src="../images/teenwebp" alt=""><br>
    
    <button class="on">BOOK SESSION</button>
</div>
 </body>
 </html>