

.main-body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color:whitesmoke;
  background-color: purple;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.jackie {
    color: black;
    background-color: fuchsia;
    list-style-type: none;
    list-style-position: inside;
    display: flex; 
    margin-right: 15px;
    margin-left: 20px;
    float: center; 
    gap: 35px;
    font-size: 30px;
    }
    
.buty{
    font-style: oblique;
    font-size: 30px;
    background-color: black;
    color: fuchsia;
    display: flexbox;

}
.list { 
    margin-right: 15px;
    float: center; 
    gap: 15px;
    color: black;
    font-size: 30px;
    list-style-type: none;
}
.header{
font-size: 40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
float: center;
font-display: center;

}
.mg1{
    width: 550px;
    height: 400px;
    margin: 20px;
}
.mg2{
width: 550px;
height:400px ;
margin: 20px;
}
.mg3{
    width: 550px;
    height: 400px;
    margin: 20px;
}

.f1{
    text-align: center;
    font-size: 100px;
}
.f2{
    text-align:center ;
    font-size: 60px;
    font-style: italic;
    
}
.f3{
    font-size: 40px;
    font-style: italic;
}

.serv-body{
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:whitesmoke;
    background-color: purple;
    -webkit-text-size-adjust: 100%;
}
.the1{
    font-size: 60px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    float: center;
}
.types{
    margin-right: 15px;
    float: center; 
    gap: 15px;
    color: black;
    font-size: 30px;
}
.the2{
    font-size: 40px;
    font-style: italic;
    display: block;
}
.par0{
    font-size: 20px;
    
}
.the3{
    font-size: 40px;
    font-style: italic;
    display: block;
}
.par1{
    font-size: 20px;
}

.cou{
    width: 600px;
    height: 450px;
}
.the4{
    font-size: 40px;
    font-style: italic;
    display: block;
}
.par2{
    font-size: 20px;
}
.on{
    font-style: oblique;
    font-size: 30px;
    background-color: black;
    color: fuchsia;
    display: flexbox;

}

.cont-body{
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:whitesmoke;
    background-color: purple;
    -webkit-text-size-adjust: 100%;
}

.con{
    font-size: 40px;
    font-style: italic;
}
.form{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.liis{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub{
    font-style: oblique;
    font-size: 30px;
    background-color: black;
    color: fuchsia;
    display: flexbox;
}
.rea{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


































}